#budgetPageID {
  background-color: rgb(248, 246, 136);
}

.incomeListDiv {
  display: inline-block;
  padding: 50px;
  position: relative;
  border: 5px;
  color: coral;
}

.expenseListDiv {
  display: inline-block;
  padding: 50px;
  position: relative;
  border: 5px;
  color: coral;
}

.incomeExpenseInputs {
  padding: 2px;
}

.incomeExpenseDateInputs {
  padding: 2px;
  width: 80px;
}

.incomeExpenseInputButtons {
  padding: 2px;
  width: 25px;
}

#incomeOL {
  color: rgb(245, 36, 13);
}
